<a href="https://colab.research.google.com/github/drshahizan/SECP3843/blob/main/submission/AimanHafizi619/Question%204/files/source-code/AnalyticsQ4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.4.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (648 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 648.9/648.9 kB 10.7 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 21.5 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.4.0

In [8]:
import pandas as pd
import datetime as dt
import pymongo
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [5]:
# Connect to MongoDB and retrieve data
client = pymongo.MongoClient("mongodb+srv://admin:admin@projectcluster.7sndifd.mongodb.net/")
db = client["Analytics"]
collection = db["Customers"]
data = list(collection.find())

# Convert to dataframe
df1 = pd.DataFrame(data)

In [6]:
df1.head(10)

,_id,username,name,address,birthdate,email,accounts,tier_and_details,active
0,5ca4bbcea2dd94ee58162a6a,hillrachel,Katherine David,"55711 Janet Plaza Apt. 865\nChristinachester, ...",1988-06-20 22:15:34,timothy78@hotmail.com,"[462501, 228290, 968786, 515844, 377292]",{},NaN
1,5ca4bbcea2dd94ee58162a68,fmiller,Elizabeth Ray,"9286 Bethany Glens\nVasqueztown, CO 22939",1977-03-02 02:20:31,arroyocolton@gmail.com,"[371138, 324287, 276528, 332179, 422649, 387979]",{'0df078f33aa74a2e9696e0520c1a828a': {'tier': ...,True
2,5ca4bbcea2dd94ee58162a6c,charleshudson,Brad Cardenas,"2765 Powers Meadow\nHeatherfurt, CT 53165",1977-05-06 21:57:35,dustin37@yahoo.com,"[721914, 817222, 973067, 260799, 87389]",{},NaN
3,5ca4bbcea2dd94ee58162a69,valenciajennifer,Lindsay Cowan,Unit 1047 Box 4089\nDPO AA 57348,1994-02-19 23:46:27,cooperalexis@hotmail.com,[116508],{'c06d340a4bad42c59e3b6665571d2907': {'tier': ...,NaN
4,5ca4bbcea2dd94ee58162a6f,andrewhamilton,Gary Nichols,"633 Miller Turnpike\nJonathanland, OR 62874",1993-02-25 17:37:29,laura34@yahoo.com,"[385397, 337979, 325377, 440243, 586395, 86702]",{},NaN
5,5ca4bbcea2dd94ee58162a6d,gregoryharrison,Natalie Ford,"17677 Mark Crest\nWalterberg, IA 39017",1996-09-13 17:14:27,amyholland@yahoo.com,"[904260, 565468]",{'69f8b6a3c39c42edb540499ee2651b75': {'tier': ...,NaN
6,5ca4bbcea2dd94ee58162a6e,hmyers,Dana Clarke,"50047 Smith Point Suite 162\nWilkinsstad, PA 0...",1969-06-21 02:39:20,vcarter@hotmail.com,"[627629, 55958, 771641]",{'4c207e65857742f89d8155139b24c0f0': {'tier': ...,NaN
7,5ca4bbcea2dd94ee58162a70,matthewray,John Parks,"38456 Rachael Causeway Apt. 735\nEvanfort, AR ...",1993-03-13 11:37:34,zmelton@gmail.com,"[702610, 240640]",{},NaN
8,5ca4bbcea2dd94ee58162a6b,serranobrian,Leslie Martinez,Unit 2676 Box 9352\nDPO AA 38560,1974-11-26 14:30:20,tcrawford@gmail.com,"[170945, 951849]",{'a15baf69a759423297f11ce6c7b0bc9a': {'tier': ...,NaN
9,5ca4bbcea2dd94ee58162a74,patricia44,Dr. Angela Brown,"2129 Joel Rapids\nLisahaven, NE 08609",1977-06-19 20:35:52,michaelespinoza@gmail.com,[571880],{},NaN

In [11]:
df1.isnull().sum()

_id                   0
username              0
name                  0
address               0
birthdate             0
email                 0
accounts              0
tier_and_details      0
active              499
dtype: int64

In [12]:
df1.dropna(inplace=True)