In [2]:
pip install pymongo

Collecting pymongoNote: you may need to restart the kernel to use updated packages.

  Downloading pymongo-4.4.0-cp39-cp39-win_amd64.whl (453 kB)
     -------------------------------------- 453.6/453.6 kB 9.4 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Using cached dnspython-2.3.0-py3-none-any.whl (283 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.4.0

In [3]:
import pymongo
import pandas as pd
from pandas.io.json import json_normalize
import pandas as pd
import numpy as np

# Connect to MongoDB and retrieve data
client = pymongo.MongoClient("mongodb+srv://1:1@cluster0.fjm9stx.mongodb.net/?authMechanism=SCRAM-SHA-1")
db = client["AA"]
collection = db["city"]
data = list(collection.find())

# Convert to dataframe
df = pd.DataFrame(data)
# Convert nested attributes to separate columns using json_normalize
df = json_normalize(data)
df.head()

C:\Users\yong\anaconda3\lib\site-packages\cryptography\x509\base.py:521: CryptographyDeprecationWarning: Parsed a negative serial number, which is disallowed by RFC 5280.
  return rust_x509.load_der_x509_certificate(data)
C:\Users\yong\AppData\Local\Temp\ipykernel_15764\1499315351.py:16: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  df = json_normalize(data)

,_id,id,certificate_number,business_name,date,result,sector,address.city,address.zip,address.street,address.number
0,56d61033a378eccde8a8354f,10021-2015-ENFO,9278806,ATLIXCO DELI GROCERY INC.,Feb 20 2015,No Violation Issued,Cigarette Retail Dealer - 127,RIDGEWOOD,11385,MENAHAN ST,1712
1,56d61033a378eccde8a83550,10057-2015-ENFO,6007104,LD BUSINESS SOLUTIONS,Feb 25 2015,Violation Issued,Tax Preparers - 891,NEW YORK,10030,FREDERICK DOUGLASS BLVD,2655
2,56d61033a378eccde8a83551,10084-2015-ENFO,9278914,MICHAEL GOMEZ RANGHALL,Feb 10 2015,No Violation Issued,Locksmith - 062,QUEENS VLG,11427,214TH ST,8823
3,56d61033a378eccde8a83552,1012-2015-CMPL,5346909,A&C CHIMNEY CORP.,Apr 22 2015,Violation Issued,Home Improvement Contractor - 100,QUEENS VLG,11428,210TH ST,9440
4,56d61033a378eccde8a83553,10127-2015-CMPL,5381180,ERIC CONSTRUCTION AND DECORATING INC.,Sep 8 2015,Violation Issued,Home Improvement Contractor - 100,STATEN ISLAND,10304,TODT HILL RD,1233

In [4]:
df.isnull().sum()

_id                   0
id                    0
certificate_number    0
business_name         0
date                  0
result                0
sector                0
address.city          0
address.zip           0
address.street        0
address.number        0
dtype: int64

In [5]:
df.describe()

,_id,id,certificate_number,business_name,date,result,sector,address.city,address.zip,address.street,address.number
count,81047,81047,81047,81047,81047,81047,81047,81047,81047,81047,81047
unique,81047,80148,80794,44445,367,23,86,236,360,2637,9799
top,56d61033a378eccde8a8354f,4094-UNIT,9313706,DUANE READE,Jul 2 2015,No Violation Issued,Cigarette Retail Dealer - 127,BROOKLYN,11215,BROADWAY,
freq,1,5,3,758,689,37749,22971,26175,1145,3191,1181

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81047 entries, 0 to 81046
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _id                 81047 non-null  object
 1   id                  81047 non-null  object
 2   certificate_number  81047 non-null  object
 3   business_name       81047 non-null  object
 4   date                81047 non-null  object
 5   result              81047 non-null  object
 6   sector              81047 non-null  object
 7   address.city        81047 non-null  object
 8   address.zip         81047 non-null  object
 9   address.street      81047 non-null  object
 10  address.number      81047 non-null  object
dtypes: object(11)
memory usage: 6.8+ MB

In [7]:
df['date'] = pd.to_datetime(df['date'])  # Convert 'date' column to datetime

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81047 entries, 0 to 81046
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _id                 81047 non-null  object
 1   id                  81047 non-null  object
 2   certificate_number  81047 non-null  object
 3   business_name       81047 non-null  object
 4   date                81047 non-null  datetime64[ns]
 5   result              81047 non-null  object
 6   sector              81047 non-null  object
 7   address.city        81047 non-null  object
 8   address.zip         81047 non-null  object
 9   address.street      81047 non-null  object
 10  address.number      81047 non-null  object
dtypes: datetime64[ns](1), object(10)
memory usage: 6.8+ MB

In [9]:
df.head()

,_id,id,certificate_number,business_name,date,result,sector,address.city,address.zip,address.street,address.number
0,56d61033a378eccde8a8354f,10021-2015-ENFO,9278806,ATLIXCO DELI GROCERY INC.,2015-02-20,No Violation Issued,Cigarette Retail Dealer - 127,RIDGEWOOD,11385,MENAHAN ST,1712
1,56d61033a378eccde8a83550,10057-2015-ENFO,6007104,LD BUSINESS SOLUTIONS,2015-02-25,Violation Issued,Tax Preparers - 891,NEW YORK,10030,FREDERICK DOUGLASS BLVD,2655
2,56d61033a378eccde8a83551,10084-2015-ENFO,9278914,MICHAEL GOMEZ RANGHALL,2015-02-10,No Violation Issued,Locksmith - 062,QUEENS VLG,11427,214TH ST,8823
3,56d61033a378eccde8a83552,1012-2015-CMPL,5346909,A&C CHIMNEY CORP.,2015-04-22,Violation Issued,Home Improvement Contractor - 100,QUEENS VLG,11428,210TH ST,9440
4,56d61033a378eccde8a83553,10127-2015-CMPL,5381180,ERIC CONSTRUCTION AND DECORATING INC.,2015-09-08,Violation Issued,Home Improvement Contractor - 100,STATEN ISLAND,10304,TODT HILL RD,1233

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81047 entries, 0 to 81046
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _id                 81047 non-null  object
 1   id                  81047 non-null  object
 2   certificate_number  81047 non-null  object
 3   business_name       81047 non-null  object
 4   date                81047 non-null  datetime64[ns]
 5   result              81047 non-null  object
 6   sector              81047 non-null  object
 7   address.city        81047 non-null  object
 8   address.zip         81047 non-null  object
 9   address.street      81047 non-null  object
 10  address.number      81047 non-null  object
dtypes: datetime64[ns](1), object(10)
memory usage: 6.8+ MB

In [12]:
df['business_name'] = df['business_name'].replace('', float('nan'))

In [15]:
count = (df['business_name'] == "").sum()
count

0

In [16]:
df.dropna(subset=['business_name'], inplace=True)

In [17]:
df['business_name'].isna().sum()

0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80838 entries, 0 to 81046
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _id                 80838 non-null  object
 1   id                  80838 non-null  object
 2   certificate_number  80838 non-null  object
 3   business_name       80838 non-null  object
 4   date                80838 non-null  datetime64[ns]
 5   result              80838 non-null  object
 6   sector              80838 non-null  object
 7   address.city        80838 non-null  object
 8   address.zip         80838 non-null  object
 9   address.street      80838 non-null  object
 10  address.number      80838 non-null  object
dtypes: datetime64[ns](1), object(10)
memory usage: 7.4+ MB

In [19]:
df['sector'] = df['sector'].replace('', float('nan'))

In [20]:
count = (df['sector'] == "").sum()
count

0

In [21]:
df.dropna(subset=['sector'], inplace=True)

In [22]:
df['sector'].isna().sum()

0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80837 entries, 0 to 81046
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _id                 80837 non-null  object
 1   id                  80837 non-null  object
 2   certificate_number  80837 non-null  object
 3   business_name       80837 non-null  object
 4   date                80837 non-null  datetime64[ns]
 5   result              80837 non-null  object
 6   sector              80837 non-null  object
 7   address.city        80837 non-null  object
 8   address.zip         80837 non-null  object
 9   address.street      80837 non-null  object
 10  address.number      80837 non-null  object
dtypes: datetime64[ns](1), object(10)
memory usage: 7.4+ MB

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score, classification_report

In [32]:
X = df['business_name']
y = df['sector']

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [34]:
pipeline = Pipeline([
    ('tfidf', TfidfVectorizer()),
    ('clf', LinearSVC())
])

In [35]:
pipeline.fit(X_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [38]:
y_pred = pipeline.predict(X_test)

In [39]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.5839930727362692

In [41]:
from sklearn.ensemble import RandomForestClassifier

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [80]:
pipeline = Pipeline([
    ('tfidf', TfidfVectorizer()),
    ('clf', RandomForestClassifier())
])

In [81]:
pipeline.fit(X_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()),
                ('clf', RandomForestClassifier())])

In [82]:
y_pred = pipeline.predict(X_test)

In [83]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.6324483775811209

In [47]:
sector_counts = df['sector'].value_counts()

In [134]:
sector_counts

Cigarette Retail Dealer - 127    22971
Grocery-Retail - 808             11603
Misc Non-Food Retail - 817        7588
Salons And Barbershop - 841       5069
Wearing Apparel - 450             2656
                                 ...
Debt Collection Agency - 122         1
Imitation Gun - 836                  1
Hotel/Motel - 460                    1
Spray Paint Sls Mnor - 832           1
Appliances - 244                     1
Name: sector, Length: 85, dtype: int64

In [49]:
Q1 = sector_counts.quantile(0.25)
Q3 = sector_counts.quantile(0.75)
IQR = Q3 - Q1

In [50]:
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [51]:
print(lower_bound)
print(upper_bound)

-1066.0
1806.0

In [52]:
print(IQR)

718.0

In [53]:
print(Q1)

11.0

In [54]:
Q3

729.0

In [144]:
df = df[df['sector'].map(sector_counts) > 1000]
df

,_id,id,certificate_number,business_name,date,result,sector,address.city,address.zip,address.street,address.number
0,56d61033a378eccde8a8354f,10021-2015-ENFO,9278806,ATLIXCO DELI GROCERY INC.,2015-02-20,No Violation Issued,Cigarette Retail Dealer - 127,RIDGEWOOD,11385,MENAHAN ST,1712
5,56d61033a378eccde8a83554,10172-2015-CMPL,9304489,UNNAMED HOT DOG VENDOR LICENSE NUMBER TA01158,2015-08-21,No Violation Issued,Mobile Food Vendor - 881,,,,
7,56d61033a378eccde8a83556,10268-2015-CMPL,9304816,UNNAMED HOT DOG VENDOR NO LICENSE NUMBER PROVIDED,2015-08-19,No Violation Issued,Mobile Food Vendor - 881,,,,
8,56d61033a378eccde8a83557,10284-2015-ENFO,9287088,VYACHESLAV KANDZHANOV,2015-02-25,No Violation Issued,Misc Non-Food Retail - 817,NEW YORK,10030,FREDRCK D BLVD,2655
9,56d61033a378eccde8a83558,10312-2015-ENFO,9287090,GRICEYDA M VILLAR,2015-02-25,No Violation Issued,Salons And Barbershop - 841,NEW YORK,10030,FREDRCK D BLVD,2645
...,...,...,...,...,...,...,...,...,...,...,...
81041,56d61035a378eccde8a971e0,5809-2016-ENFO,5389448,PARADISE DELI GROCERY CORP.,2016-01-21,Violation Issued,Grocery-Retail - 808,NEW YORK,10012,MULBERRY ST,243
81042,56d61035a378eccde8a971e1,5821-2016-ENFO,5391052,"SHARON, JOSEPH",2016-01-20,Violation Issued,Stoop Line Stand - 033,BROOKLYN,11235,BRIGHTON BEACH AVE,1023
81043,56d61035a378eccde8a971e2,5543-2016-ENFO,9324981,TWO BROTHERS FASHION LTD,2016-01-20,No Violation Issued,Misc Non-Food Retail - 817,JACKSON HEIGHTS,11372,ROOSEVELT AVE,8503
81044,56d61035a378eccde8a971e3,10192-2016-ENFO,5393182,"PIEROTTI, ESTEBAN A.",2015-12-16,Violation Issued,Pedicab Business - 130,NEW YORK,10019,WEST 59 STREET,
81045,56d61035a378eccde8a971e4,4982-2016-ENFO,50066535,"SOHO GARDEN, INC.",2016-01-22,No Violation Issued,Cigarette Retail Dealer - 127,NEW YORK,10012,PRINCE ST,40

In [85]:
X = df_filtered['business_name']
y = df_filtered['sector']

In [74]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [75]:
pipeline = Pipeline([
    ('tfidf', TfidfVectorizer()),
    ('clf', LinearSVC())
])

In [76]:
pipeline.fit(X_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [77]:
y_pred = pipeline.predict(X_test)

In [78]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.6471976401179941

In [84]:
test = ['YONG CONSTRCUCTION COMPANY']
test_pred = pipeline.predict(test)
test_pred

array(['Salons And Barbershop - 841'], dtype=object)

In [86]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [126]:
X = df_filtered['business_name']
y = df_filtered['sector']

In [127]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [128]:
vectorizer = TfidfVectorizer()

In [129]:
X_train_vec = vectorizer.fit_transform(X_train)

In [130]:
nb_classifier = MultinomialNB()
nb_classifier.fit(X_train_vec, y_train)

MultinomialNB()

In [131]:
X_test_vec = vectorizer.transform(X_test)

In [132]:
y_pred = nb_classifier.predict(X_test_vec)

In [133]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.6666666666666666

In [136]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import CountVectorizer

In [145]:
business_names = []
sector_names = []

for shop in data:
    business_name = shop['business_name']
    sector_name = shop['sector']
    business_names.append(business_name)
    sector_names.append(sector_name)

In [147]:
vectorizer = CountVectorizer()
business_features = vectorizer.fit_transform(business_names)

In [148]:
classifier = DecisionTreeClassifier()
classifier.fit(business_features, sector_names)

DecisionTreeClassifier()

In [149]:
accuracy = classifier.score(business_features, sector_names)
print('Accuracy:', accuracy)

Accuracy: 0.8252618850790282

In [152]:
new_business_name = ['YONG RESTAURANT']
new_business_name_vectors = vectorizer.transform(new_business_name)
predicted_sector = classifier.predict(new_business_name_vectors)
print('Predicted Sector:', predicted_sector)

Predicted Sector: ['Restaurant - 818']

In [153]:
new_business_name = ['X GROCERY']
new_business_name_vectors = vectorizer.transform(new_business_name)
predicted_sector = classifier.predict(new_business_name_vectors)
print('Predicted Sector:', predicted_sector)

Predicted Sector: ['Grocery-Retail - 808']

In [162]:
new_business_name = ['A CONSTRUCTION COMPANY']
new_business_name_vectors = vectorizer.transform(new_business_name)
predicted_sector = classifier.predict(new_business_name_vectors)
print('Predicted Sector:', predicted_sector)

Predicted Sector: ['Home Improvement Contractor - 100']