### Step 1: Load JSON data

In [1]:
import json
import pandas as pd

with open('modified_tweets.json', encoding='utf-8') as file:
    data = json.load(file)
    
print(data[0])

{'_id': {'$oid': '5c8eccb0caa187d17ca623f5'}, 'text': 'eu preciso de terminar de fazer a minha tabela, está muito foda **', 'in_reply_to_status_id': None, 'retweet_count': None, 'contributors': None, 'created_at': 'Thu Sep 02 18:11:23 +0000 2010', 'geo': None, 'source': 'web', 'coordinates': None, 'in_reply_to_screen_name': None, 'truncated': False, 'entities': {'user_mentions': [], 'urls': [], 'hashtags': []}, 'retweeted': False, 'place': None, 'user': {'friends_count': {'$numberInt': '73'}, 'profile_sidebar_fill_color': '768575', 'location': '', 'verified': False, 'follow_request_sent': None, 'favourites_count': {'$numberInt': '1'}, 'profile_sidebar_border_color': '1c9dbd', 'profile_image_url': 'http://a2.twimg.com/profile_images/1036412454/OgAAADXK9q6kaxrvfwQTINH66RVLAH9YHb-veRTA4FaWb9KtbGGV_yKTGzmvzTfJidqAb5gK_mpspIE-MIvAASGH2CwAm1T1UIPQk0-HS8x_TV5kdnW30nch7ODk-1_normal.jpg', 'geo_enabled': False, 'created_at': 'Fri Jul 03 21:44:05 +0000 2009', 'description': 'só os loucos sabem (:', 'time_zone': 'Brasilia', 'url': 'http://http://www.orkut.com.br/Main#Profile?uid=1433295880233078770', 'screen_name': 'Bia_cunha1', 'notifications': None, 'profile_background_color': '081114', 'listed_count': {'$numberInt': '0'}, 'lang': 'en', 'profile_background_image_url': 'http://a1.twimg.com/profile_background_images/133178546/biatwitter.jpg', 'statuses_count': {'$numberInt': '3504'}, 'following': None, 'profile_text_color': '25b8c2', 'protected': False, 'show_all_inline_media': False, 'profile_background_tile': True, 'name': 'Beatriz Helena Cunha', 'contributors_enabled': False, 'profile_link_color': 'eb55b6', 'followers_count': {'$numberInt': '102'}, 'id': {'$numberInt': '53507833'}, 'profile_use_background_image': True, 'utc_offset': {'$numberInt': '-10800'}}, 'favorited': False, 'in_reply_to_user_id': None, 'id': {'$numberLong': '22819396900'}}

### Step 2: Understand the data structure

In [2]:
df = pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24832 entries, 0 to 24831
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      24832 non-null  object
 1   text                     24832 non-null  object
 2   in_reply_to_status_id    6790 non-null   object
 3   retweet_count            0 non-null      object
 4   contributors             0 non-null      object
 5   created_at               24832 non-null  object
 6   geo                      159 non-null    object
 7   source                   24832 non-null  object
 8   coordinates              159 non-null    object
 9   in_reply_to_screen_name  8116 non-null   object
 10  truncated                24832 non-null  bool
 11  entities                 24832 non-null  object
 12  retweeted                24832 non-null  bool
 13  place                    187 non-null    object
 14  user                     24832 non-null  object
 15  favorited                24832 non-null  bool
 16  in_reply_to_user_id      8116 non-null   object
 17  id                       24832 non-null  object
 18  retweeted_status         2045 non-null   object
dtypes: bool(3), object(16)
memory usage: 3.1+ MB

### Step 3: Select the features

In [3]:
selected_columns = ['text', 'source', 'entities', 'user']
filtered_data = [{column: record[column] for column in selected_columns} for record in data]

In [4]:
df = pd.DataFrame(filtered_data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24832 entries, 0 to 24831
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   text      24832 non-null  object
 1   source    24832 non-null  object
 2   entities  24832 non-null  object
 3   user      24832 non-null  object
dtypes: object(4)
memory usage: 776.1+ KB

### Step 4: Clean the data

In [7]:
df.isna().sum()

text        0
source      0
entities    0
user        0
dtype: int64